body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevents scrollbar from appearing */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Max width for better alignment */
}

.forbidden {
    color: #e74c3c;
    margin-bottom: 20px;
}

.forbidden i {
    margin-bottom: 10px;
}

.info {
    text-align: left;
}

.info h2 {
    color: #333;
    margin-bottom: 10px;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info ul li {
    background: #e7f1ff;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #007bff;
}
